body{
    display: flex;
    flex-direction: column;
    background-position: center;
    background-size: cover;

    font-family: 'Open Sans Condensed', sans-serif;
}

header.header, footer.footer{
    flex: 0 0 auto;
    min-width: 960px;
}

main.main{
    flex: 1 0 auto;
    min-width: 960px;
}

// =============header=============
.header{
        background-color: rgba($color3, 0.8);
        box-shadow: 0 1px 10px 2px rgba(137, 151, 158, 0.8);    

        &__container{
            padding: 25px 0;      
            display: flex;
        }

        &__part{
            padding: 0 20px;      
            border-right: 1px solid $color2;
            text-align: center;
            flex-grow: 1;

            &:last-child{
                border: none;        
            }    

            @include laptop {
                padding: 0 10px;      
            }

                
            & > div{
            position: relative;
            top: 50%;
            transform: translateY(-50%)
            }

            &_tablethide{

                @include tablet {
                    width: 1px;
                    height: 1px;
                    padding: 0;
                    border: 0;
                    overflow: hidden;
                    margin: -1px;
                    position: absolute;
                    clip: rect(0 0 0 0);
                }


            }

        }  
        

}

.logo{
    height: 100px;

    @include tablet {
        height: 80px;    
    }

    &__linktomain{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
    }

    &__pic{
        height: 100%;
    }

    &__description{

    }

    &__title{
        padding: 0 10px;
        font-size: 22px;

        @include laptop {
            padding: 0 4px;
            font-size: 18px;            
        }
        
        @include tablet {
            padding: 0 2px;
            font-size: 16px;     
            margin: 10px; 
        }
    
        @include phone {

        }

        &name{
            display: block;
            font-size: 50px;

            @include laptop {
                font-size: 42px;            
            }
            
            @include tablet {
                font-size: 38px;            
            }
        }
    }
}

.contacts{

    @include laptop {
        font-size: 16px;            
    }
    
    @include tablet {
        font-size: 14px;     
    }

    @include phone {

    }
}


.mainmenu{
    background-color: rgba(#fff, 0.999);

    &__container{
        // padding: 10px;
    }

    &__list{
        display: flex;
        flex-wrap: wrap;
    } 
    
    &__item{
        display: inline-flex;
    }    

    &__link{
        padding: 10px 15px;
        color: $color2;
        text-transform: uppercase;

        &:hover{
            background-color: rgba($color1, 0.8);
            color: #fff;
        }
    }
}

.contacts{

    &__list
    {
        display: inline-block;
        text-align: left;
    }

    &__item
    {
        white-space: nowrap;
    }

    &__icon{ 
        width: 20px;
        height: 20px;
        display: inline-block;
        margin: 5px;
        color: rgb(170, 155, 184);
     
        &_mail:before {
            content: "\ea84";
        }

        &_mobile:before {
            content: "\e942";
        }

        &_skype:before {
            content: "\eac5";
        }
    }
}

// =============main=============
.main{
    background-color: rgba($color3, 0.8);
    opacity: 0.999;

    &__container{
        text-align: center;
        padding: 20px 10px;                
    }
}

.photomenu{
    position: relative;
    padding: 20px 0px;
    

    &__list{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin-left: -20px;
        width: calc(#{$pc-width + px} - 20px + 20px);

        @include laptop {
            margin-left: -15px;
            width: calc(#{$laptop-width + px} - 20px + 15px);
        }
        
        @include tablet {
            margin-left: -5px;
            width: calc(#{$tablet-width + px} - 20px + 5px);
        }
    
        @include phone {

        }
    }

    &__item{
        width: 300px;
        height: 240px;
        margin: 30px 0 30px 20px;
        padding: 10px;
        box-shadow: inset 0px -2px 9px 3px #fff;
        position: relative;
        background-position: center;
        background-size: cover;
        // border-radius: 10px;
        
        @include laptop {
            width: 220px;
            height: 176px;
            margin: 20px 0 20px 15px;
        }
        
        @include tablet {
            width: 140px;
            height: 110px;
            margin: 10px 0 10px 5px;
        }
    
        @include phone {

        }

        &::before, &::after{
            z-index: -1;
            position: absolute;
            content: '';
            bottom: 12px;
            left: 5px;
            // border-radius: 10px;
            width: 50%;
            top: 80%;
            max-width: 300px;
            background: rgba(0, 0, 0, 0.7);
            box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
            transform: rotate(-3deg);
        }

        &::after{
            transform: rotate(3deg);
            right: 5px;
            left: auto;
        }

        &:hover{
            box-shadow: inset 0px -2px 20px 10px #fff, 0px -1px 4px 2px #eee;
        }
        
        &:hover .photomenu__title{
            background-color: rgba($color3, 0.6);
            text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.95), 1px 1px 10px rgba(0, 0, 0, 1);
            color: rgba($color1, 0.8);
        }

        &_aboutme{
            background-image: url('../../img/photomenu/aboutme.jpg');
        }

        &_myworks{
            background-image: url('../../img/photomenu/myworks.jpg');
        }

        &_myblog{
            background-image: url('../../img/photomenu/myblog.jpg');
        }       
    }

    &__link{
        display: inline-block;
        width: 100%;
        height: 100%;
    }

    &__title{
        font-family: 'Lobster';
        text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.95);
        width: 100%;
        min-height: 50px;
        position: absolute;
        bottom: 0;
        left: 0;
        background-color: rgba($color3, 0.4);
        padding: 10px;
        font-size: 30px;
        color: $color4;
        // border-radius: 0 0 10px 10px;

        @include tablet {
            background-color: transparent;
            text-shadow: 1px 1px 3px rgba(255, 255, 255, 0.9);
            width: 100%;
            min-height: unset;
            position: absolute;
            top: 110px;
            padding: 5px;
            font-size: 16px;
            color: #aa9bb8;
        }
    
        @include phone {

        }
    }

}

.aboutme__description{

    & p{
        line-height: 2;
        text-align: justify;
    }
}

.reviews{
    overflow: hidden;

    &__item{
        height: 240px;
        padding: 20px;
    }

    &__pic{
        height: 200px;
        width: 200px;
        border-radius: 50%;
        overflow: hidden;
        display: inline-block;
        vertical-align: middle;
    }

    &__img{
        min-height: 200px;
        min-width: 200px;
    }

    
    &__text{
        display: inline-block;
        vertical-align: middle;
        font-size: 24px;
        padding: 10px 15px;
    }
}



.gallery{
    overflow: hidden;

    &__item{
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 520px;
    }

    &__pic{
        display: none;
        color: transparent;
    }
}


// =============footer=============
.footer{
    box-shadow: 0 -1px 10px 2px  rgba(137, 151, 158, 0.8); 
    background-color: rgba($color4, 0.9);
    
    &__container{
        text-align: center;
        padding: 10px;
    }
}

.contactinfo{
    padding: 5px;
    line-height: 1.6;

    &__phone{
        display: block;
    }
}

.social{
        
        &__item{
            display: inline-block;
            cursor: pointer;
        }
    
        &__link{
            display: inline-block;
            width: 30px;
            height: 30px;
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            margin-right: 5px;
            
            &_vk{
                background-image: url('../../img/icons/social/if_vk_2308137.svg');
            }        
            &_fb{
                background-image: url('../../img/icons/social/if_facebook_2308066.svg');
            }        
            &_twit{
                background-image: url('../../img/icons/social/if_twitter_2308045.svg');
            }
        }
    
        &__text{

            &_hide{
                display: none;
            }            
        }
    }

 