//colors
$color1:#aa9bb8;//#b3a2a2;//rgb(177, 220, 49);// #ffd880;//осн.фон
$color2: #8f1a2a;//выделения,обводки
$color3:#faf2dc;//rgba(78, 142, 152, 0.5);//#b6b3a0;//просто текст
$color4: rgb(255, 255, 255);//выделенный текст
$color-text: #693b1a;
$pc-width: 960;
$laptop-width: 730;
$tablet-width: 460;
$phone-width: 320;

// $color1: #c57959;
// $color2: #94535b;
// $color3: #32332e;
// $color4: #f7f8f3;

// $color1: #4da8a1;
// $color2: #4da8a1;
// $color3: #5c1330;
// $color4: #aa2159;

//mixins
@import "scss/mixins.scss";

// layout
@import "scss/normalize.scss";
@import "scss/adjustment.scss";

// fonts
@import "scss/fonts.scss";

// sections
@import "scss/index.scss";
