<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        meta(name="author", content="Lidia")
        meta(name="keywords", content="Фото новорожденных, фотосессия, дети, фотограф Москва")
        meta(name="description", content="Фотосессии для новорожденных в Москве")
        meta(name="viewport", content="width=device-width")

        link(rel="icon" type="image/png" href="../favicon.png")
    
        link(rel="stylesheet", href="css/main.css")

        <link href="../bxslider/jquery.bxslider.css" rel="stylesheet">

        <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">

        title Newborn photos by Lyudmila

    body
        header.header
            div.header__container.container
                div.header__part
                    div.logo
                        a.logo__linktomain(href="index.html")
                            img.logo__pic(src="../img/Logo.png", alt="Логотип")
                            div.logo__description
                                h1.logo__title Newborn photographer
                                    span.logo__titlename LYUDMILA 
                div.header__part.header__part_tablethide
                    div.shortdescription Фотосессии для новорожденных
                div.header__part
                    div.contacts
                        ul.contacts__list
                            li.contacts__item 
                                span.contacts__icon.contacts__icon_mobile.icon.icon-phone 
                                span.contacts__text +7 916 4891488
                                
                            li.contacts__item  
                                span.contacts__icon.contacts__icon_skype.icon.icon-skype 
                                span.contacts__text SkypeSkype
                            li.contacts__item  
                                span.contacts__icon.contacts__icon_mail.icon.icon-mail2 
                                span.contacts__text E-mailE-mail
                                     
            div.mainmenu
                div.mainmenu__container.container
                    ul.mainmenu__list
                        li.mainmenu__item
                            a.mainmenu__link(href="index.html#aboutme") Обо мне
                        li.mainmenu__item
                            a.mainmenu__link(href="index.html#myworks") Мои работы
                        li.mainmenu__item
                            a.mainmenu__link(href="https://tema.livejournal.com/") Мой блог
                        li.mainmenu__item
                            a.mainmenu__link(href="#") Контакты
                        li.mainmenu__item
                            a.mainmenu__link(href="reviews.html") Отзывы                           

        main.main
            div.main__container.container
                div.photomenu
                    ul.photomenu__list
                        li.photomenu__item.photomenu__item_aboutme                         
                            a.photomenu__link(href="index.html#aboutme")
                                span.photomenu__title Обо мне
                        li.photomenu__item.photomenu__item_myworks 
                            a.photomenu__link(href="index.html#myworks")
                                span.photomenu__title Мои работы
                        li.photomenu__item.photomenu__item_myblog 
                            a.photomenu__link(href="https://tema.livejournal.com/")    
                                span.photomenu__title Мой блог
                                
                section.aboutme#aboutme
                    h2.aboutme__title Обо мне
                    div.aboutme__description
                        p Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. 
                            |Вдали от всех живут они в буквенных домах на берегу Семантика большого языкового океана. 
                            |Маленький ручеек Даль журчит по всей стране и обеспечивает ее всеми необходимыми правилами. 
                            |Эта парадигматическая страна, в которой жаренные члены предложения залетают прямо в рот. 
                            |Даже всемогущая пунктуация не имеет власти над рыбными текстами, ведущими безорфографичный образ жизни. 
                            |Однажды одна маленькая строчка рыбного текста по имени Lorem ipsum решила выйти в большой мир грамматики. 
                            |http://mynewbornbeauty.com/
                            |http://www.fotonewborn.ru/home/
                            |http://babybornstudio.ru/
                            |http://elenponomaryova.com/
                            
                            |Великий Оксмокс предупреждал ее о злых запятых, диких знаках вопроса и коварных точках с запятой, но текст не дал сбить себя с толку.
                            |Маленький ручеек Даль журчит по всей стране и обеспечивает ее всеми необходимыми правилами. 
                            |Эта парадигматическая страна, в которой жаренные члены предложения залетают прямо в рот. 
                            |Даже всемогущая пунктуация не имеет власти над рыбными текстами, ведущими безорфографичный образ жизни. 
                            |Однажды одна маленькая строчка рыбного текста по имени Lorem ipsum решила выйти в большой мир грамматики. 
                            |Великий Оксмокс предупреждал ее о злых запятых, диких знаках вопроса и коварных точках с запятой, но текст не дал сбить себя с толку.                            
                    
                            |Эта парадигматическая страна, в которой жаренные члены предложения залетают прямо в рот. 
                            |Даже всемогущая пунктуация не имеет власти над рыбными текстами, ведущими безорфографичный образ жизни. 
                            |Однажды одна маленькая строчка рыбного текста по имени Lorem ipsum решила выйти в большой мир грамматики.                    


                section.myworks#myworks
                    h2.myworks__title Мои работы
                    ul.gallery
                        li.gallery__item(style='background-image: url("../img/gallery/1.jpg");')
                            img.gallery__pic(src="", alt="Мои работы")
                        li.gallery__item(style='background-image: url("../img/gallery/2.jpg");')
                            img.gallery__pic(src="", alt="Мои работы")
                        li.gallery__item(style='background-image: url("../img/gallery/3.jpg");')
                            img.gallery__pic(src="", alt="Мои работы")
                        li.gallery__item(style='background-image: url("../img/gallery/4.jpg");')
                            img.gallery__pic(src="", alt="Мои работы")
                        li.gallery__item(style='background-image: url("../img/gallery/5.jpg");')
                            img.gallery__pic(src="", alt="Мои работы")
                        li.gallery__item(style='background-image: url("../img/gallery/6.jpg");')
                            img.gallery__pic(src="", alt="Мои работы")                            

        footer.footer
            div.footer__container.container
                div.contactinfo Newborn photographer Lyudmila 
                    span.contactinfo__phone +7 916 4891488
                div.socials
                    ul.socials__list
                        li.social__item
                            a.social__link.social__link_vk(href="https://vk.com/")
                                span.social__text.social__text_hide VK
                        li.social__item
                            a.social__link.social__link_fb(href="https://fb.com/")
                                span.social__text.social__text_hide FB
                        li.social__item
                            a.social__link.social__link_twit(href="https://twitter.com/?lang=ru")
                                span.social__text.social__text_hide TWITTER

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    //- <script src="../bxslider/jquery.min.js"></script>

    <script src="../bxslider/jquery.bxslider.min.js"></script>    
    <script src="../app/js/main.js"></script>