<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        meta(name="author", content="Lidia")
        meta(name="keywords", content="Фото новорожденных, фотосессия, дети, фотограф Москва")
        meta(name="description", content="Фотосессии для новорожденных в Москве")
        meta(name="viewport", content="width=device-width")

        link(rel="icon" type="image/png" href="../favicon.png")
    
        link(rel="stylesheet", href="css/main.css")

        <link href="../bxslider/jquery.bxslider.css" rel="stylesheet">

        <link href="https://fonts.googleapis.com/css?family=Bad+Script|Lobster|Marck+Script|Poiret+One|Underdog" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Gabriela" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Bad+Script|Marck+Script|Neucha|Open+Sans+Condensed:300|Playfair+Display|Poiret+One" rel="stylesheet">

        title Newborn photos by Lyudmila

    body
        header.header
            div.header__container.container
                div.header__part
                    div.logo
                        a.logo__linktomain(href="index.html" title="На главную")
                            img.logo__pic(src="../img/Logo.png", alt="Логотип")
                            div.logo__description
                                h1.logo__title Newborn photographer
                                    span.logo__titlename LYUDMILA 
                div.header__part
                    div.shortdescription Фотосессии для новорожденных
                div.header__part
                    div.contacts
                        ul.contacts__list
                            li.contacts__item 
                                span.contacts__icon.contacts__icon_mobile.icon.icon-phone 
                                span.contacts__text +7 916 4891488
                                
                            li.contacts__item  
                                span.contacts__icon.contacts__icon_skype.icon.icon-skype 
                                span.contacts__text SkypeSkype
                            li.contacts__item  
                                span.contacts__icon.contacts__icon_mail.icon.icon-mail2 
                                span.contacts__text E-mailE-mail
                                     
            div.mainmenu
                div.mainmenu__container.container
                    ul.mainmenu__list
                        li.mainmenu__item
                            a.mainmenu__link(href="index.html#aboutme") Обо мне
                        li.mainmenu__item
                            a.mainmenu__link(href="index.html#myworks") Мои работы
                        li.mainmenu__item
                            a.mainmenu__link(href="https://tema.livejournal.com/") Мой блог
                        li.mainmenu__item
                            a.mainmenu__link(href="#") Контакты
                        li.mainmenu__item
                            a.mainmenu__link(href="#") Отзывы                           

        main.main
            div.main__container.container
                div.photomenu
                    ul.photomenu__list
                        li.photomenu__item.photomenu__item_aboutme                         
                            a.photomenu__link(href="index.html#aboutme")
                                span.photomenu__title Обо мне
                        li.photomenu__item.photomenu__item_myworks 
                            a.photomenu__link(href="index.html#myworks")
                                span.photomenu__title Мои работы
                        li.photomenu__item.photomenu__item_myblog 
                            a.photomenu__link(href="https://tema.livejournal.com/")    
                                span.photomenu__title Мой блог
                                
                section.review#review
                    h2.review__title Отзывы
                    div.reviews
                        li.reviews__item
                            div.reviews__pic
                                img.reviews__img(src="../img/reviews/1.jpg")
                            p.reviews__text Текст1 отзыва о фотосессии новорожденного.
                        li.reviews__item
                            div.reviews__pic
                                img.reviews__img(src="../img/reviews/2.jpg")
                            p.reviews__text Текст2 отзыва о фотосессии новорожденного.
                        li.reviews__item
                            div.reviews__pic
                                img.reviews__img(src="../img/reviews/3.jpg")
                            p.reviews__text Текст3 отзыва о фотосессии новорожденного.                       
                  

        footer.footer
            div.footer__container.container
                div.contactinfo Newborn photographer Lyudmila 
                    span.contactinfo__phone +7 916 4891488
                div.socials
                    ul.socials__list
                        li.social__item
                            a.social__link.social__link_vk(href="https://vk.com/")
                                span.social__text.social__text_hide VK
                        li.social__item
                            a.social__link.social__link_fb(href="https://fb.com/")
                                span.social__text.social__text_hide FB
                        li.social__item
                            a.social__link.social__link_twit(href="https://twitter.com/?lang=ru")
                                span.social__text.social__text_hide TWITTER

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    //- <script src="../bxslider/jquery.min.js"></script>

    <script src="../bxslider/jquery.bxslider.min.js"></script>    
    <script src="../app/js/main.js"></script>